
<%= form_with(model: livro) do |form| %>
  <% if livro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(livro.errors.count, "error") %> este livro não pode ser salvo:</h2>

      <ul>
        <% livro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <div>
      <%= form.label :titulo, class: "form-label" %>
      <%= form.text_field :titulo, class: "form-control border-primary" %>
    </div>
  </div>

  <div class="mb-3">
    <div>
      <%= form.label :autor, class: "form-label" %>
      <%= form.text_field :autor, class: "form-control border-primary" %>
    </div>
  </div>

  <div class="mb-3">
    <div>
      <%= form.label :nota, class: "form-label" %>
      <%= form.number_field :nota, class: "form-control border-primary" %>
    </div>
  </div>

  <div class="mb-3">
    <div>
      <%= form.label :descricao, class: "form-label" %>
      <%= form.text_area :descricao, class: "form-control border-primary" %>
    </div>
  </div>
  <div class="row gy-3">
  <div class="col-md-2">
    <%= form.submit class: "btn btn-primary", value: "Criar" %>
  </div>
<% end %>

