<div id="<%= dom_id livro %>">
  <h1>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </h1>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= livro.nota %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= livro.descricao %>
  </p>

</div>
